<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>Document</title>
</head>
<body>
    {{>navbar}}
    <h1 style="{{ok}}">HELLO {{name}}</h1>
    <h1>ya but y u gae </h1>
</body>
</html>